<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1045886522786-s7m993mdi2ufjr3908gker6ed2hnribm</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1045886522786-s7m993mdi2ufjr3908gker6ed2hnribm.apps.googleusercontent.com</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>《废土领主》需要获取您的位置来显示您在末日世界中的坐标，帮助您探索和圈定领地。</string>
	<key>CFBundleDisplayName</key>
	<string>Wasteland Lord</string>
</dict>
</plist>
